html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body{
  background: white;
}

main{
  width: 500px;
}

.first-line {
  color:white;
  font-family:Georgia;
  position: bottom;
  width:800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
} 

.second-line{
  color:white;
  font-family:Georgia;
  position: bottom;
  width:800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 0px;
  transform:rotate(35deg); 
} 

.fifth-line{
  color:white;
  font-family:Georgia;
  width:800px;
  line-height: 10px;
  letter-spacing: -5px;
}
